<div class="contract-details-container">
  <h2>Carbon Credit Contract 1</h2>
  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card shadow mb-3">
        <div class="card-header bg-dark text-white">
          Status
        </div>
        <div class="card-body">
          status card body
        </div>
      </div>

      <div class="card shadow">
        <div class="card-header bg-dark text-white">
          Details
        </div>
        <div class="card-body">
          <table class="table table-striped table-responsive contract-details">
            <tr>
              <td>Created By</td>
              <td>Gurmeet Singh</td>
            </tr>
            <tr>
              <td>Created Date</td>
              <td>11/18/19</td>
            </tr>
            <tr>
              <td>Contract Id</td>
              <td>1</td>
            </tr>
            <tr>
              <td>Contract Address</td>
              <td>0x0dae81f277b451c52d29036d261d4edac7697463</td>
            </tr>
            <tr>
              <td>State</td>
              <td>Accepted</td>
            </tr>
            <tr>
              <td>Description</td>
              <td>Test</td>
            </tr>
            <tr>
              <td>Asking Amount</td>
              <td>14</td>
            </tr>
            <tr>
              <td>Instance Appraiser</td>
              <td>Sachin Tanwar</td>
            </tr>
            <tr>
              <td>Instance Owner</td>
              <td>Gurmeet Singh</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow mb-3">
        <div class="card-header bg-dark text-white">
          Actions
        </div>
        <div class="card-body">
          No actions available right now
        </div>
      </div>

      <div class="card shadow">
        <div class="card-header bg-dark text-white">
          Activity
        </div>
        <div class="card-body">
          <table class="table activity">
            <tr>
              <td>Gurmeet Singh recorded action Accept</td>
              <td>8:04 PM</td>
            </tr>
            <tr>
              <td>Sachin Tanwar recorded action Pass Appraisal</td>
              <td>8:04 PM</td>
            </tr>
            <tr>
              <td>Gurmeet Singh recorded action Submit Proposal</td>
              <td>8:03 PM</td>
            </tr>
            <tr>
              <td>Gurmeet Singh recorded action Modify Proposal</td>
              <td>8:03 PM</td>
            </tr>
            <tr>
              <td>Sachin Tanwar recorded action Fail Appraisal</td>
              <td>8:03 PM</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>